<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Calculator</title>
</head>
<body style = "background-color : olive">

<div id = "header" style = "background-color : olive;">
    <p style = "text-align : right; color : white;"> Language :
    <a href = "calculator_eng" style = "color : white;"> English </a> /
    <a href = "calculator_hin" style = "color : white;"> हिंदी </a>
    </p>

    <h1 style = "Background-color : olive; color : white; font-size : 50px; text-align : center;"> Scientific Calculator </h1>
</div>

<div id = "main" style = "background-color : #E8E8E8">
    <br><br>

    <form style = "text-align : center" action = "{{url_for('calculator_eng')}}" method = "post">

        <h2 style = "color : maroon; font-size : 30px; text-align : center;"> Enter The Operands :- </h2>
        <LABEL style = "font-size : 20px"> Input - 1 : </LABEL>
        <input autofocus style = "background-color : #F0F0F0; font-size : 15px" type = "text" name = "o1" placeholder = "Enter any Number" required>
        <p> </p>
        <LABEL style = "font-size : 20px"> Input - 2 : </LABEL>
        <input style = "background-color : #F0F0F0; font-size : 15px" type = "text" name = "o2" placeholder = "Enter any Number">
        <br><br>
        <h2 style = "text-align : center;"> Result : <span style = "color : olive; font-size : 30px;"> {{result}} </span></h2>
        <br><br>



        <h2 style = "color : maroon; font-size : 30px; text-align : center;"> Choose Any One Operation :- </h2>





<! --------------------Basic Arithmatic Operations-------------------- -->





        <h2 style = "color : #000066; background-color : lightgrey;"> 1. Basic Arithmatic Operations </h2>
        <br>
        <input type = "radio" name = "operation" id = "r1" value = "sum" required>
        <label for = "r1"> Sum </label>
        <input type = "radio" name = "operation" id = "r2" value = "sub">
        <label for = "r2"> Subtraction </label>
        <input type = "radio" name = "operation" id = "r3" value = "mul">
        <label for = "r3"> Multiplication </label>
        <input type = "radio" name = "operation" id = "r4" value = "div">
        <label for = "r4"> Division </label>
        <input type = "radio" name = "operation" id = "r5" value = "quo">
        <label for = "r5"> Quotient </label>
        <input type = "radio" name = "operation" id = "r6" value = "rem">
        <label for = "r6"> Remainder </label>
        <br><br>






<! --------------------Roots Operations-------------------- -->





        <h2 style = "color : #000066; background-color : lightgrey;"> 2. Roots Operations</h2>
        <br>
        <input type = "radio" name = "operation" id = "r7" value = "s_root">
        <label for = "r7"> √x </label>
        <input type = "radio" name = "operation" id = "r8" value = "c_root">
        <label for = "r8"> ∛x </label>
        <br><br>





<! --------------------Exponential Operations-------------------- -->






        <h2 style = "color : #000066; background-color : lightgrey;"> 3. Exponential Operations </h2>
        <br>
        <input type = "radio" name = "operation" id = "r9" value = "power">
        <label for = "r9"> a^n </label>
        <input type = "radio" name = "operation" id = "r10" value = "c_log">
        <label for = "r10"> log10 </label>
        <input type = "radio" name = "operation" id = "r11" value = "n_log">
        <label for = "r11"> ln (loge) </label>
        <input type = "radio" name = "operation" id = "r12" value = "log_b">
        <label for = "r12"> loga(b) </label>
        <input type = "radio" name = "operation" id = "r13" value = "exp">
        <label for = "r13"> e^x </label>
        <p> (loga(b) = Logarithm of b to the base a) </p>
        <br><br>





<! --------------------Exponential Operations-------------------- -->





        <h2 style = "color : #000066; background-color : lightgrey;"> 4. Angular Conversion </h2>
        <br>
        <input type = "radio" name = "operation" id = "r14" value = "rad">
        <label for = "r14"> Degree to Radian </label>
        <input type = "radio" name = "operation" id = "r15" value = "deg">
        <label for = "r15"> Radian to Degree </label>
        <br><br>





  <! --------------------Trigonometric Operations-------------------- -->






        <h2 style = "color : #000066; background-color : lightgrey;"> 5. Trigonometic Operations (In Degree) </h2>
        <br>
        <input type = "radio" name = "operation" id = "r16" value = "sin_d">
        <label for = "r16"> sin </label>
        <input type = "radio" name = "operation" id = "r17" value = "cos_d">
        <label for = "r17"> cos </label>
        <input type = "radio" name = "operation" id = "r18" value = "tan_d">
        <label for = "r18"> tan </label>
        <input type = "radio" name = "operation" id = "r19" value = "csc_d">
        <label for = "r19"> cosec </label>
        <input type = "radio" name = "operation" id = "r20" value = "sec_d">
        <label for = "r20"> sec </label>
        <input type = "radio" name = "operation" id = "r21" value = "cot_d">
        <label for = "r21"> cot </label>
        <br><br>
        <input type = "radio" name = "operation" id = "r22" value = "asin_d">
        <label for = "r22"> asin </label>
        <input type = "radio" name = "operation" id = "r23" value = "acos_d">
        <label for = "r23"> acos </label>
        <input type = "radio" name = "operation" id = "r24" value = "atan_d">
        <label for = "r24"> atan </label>
        <input type = "radio" name = "operation" id = "r25" value = "acsc_d">
        <label for = "r25"> acosec </label>
        <input type = "radio" name = "operation" id = "r26" value = "asec_d">
        <label for = "r26"> asec </label>
        <input type = "radio" name = "operation" id = "r27" value = "acot_d">
        <label for = "r27"> acot </label>
        <br>
        <p>(Note  :  asin  =  Inverse of sin)</p>
        <br><br>

        <h2 style = "color : #000066; background-color : lightgrey;"> 6. Trigonometic Operations (In Radians) </h2>
        <br>
        <input type = "radio" name = "operation" id = "r28" value = "sin_r">
        <label for = "r28"> sin </label>
        <input type = "radio" name = "operation" id = "r29" value = "cos_r">
        <label for = "r29"> cos </label>
        <input type = "radio" name = "operation" id = "r30" value = "tan_r">
        <label for = "r30"> tan </label>
        <input type = "radio" name = "operation" id = "r31" value = "csc_r">
        <label for = "r31"> cosec </label>
        <input type = "radio" name = "operation" id = "r32" value = "sec_r">
        <label for = "r32"> sec </label>
        <input type = "radio" name = "operation" id = "r33" value = "cot_r">
        <label for = "r33"> cot </label>
        <br><br>
        <input type = "radio" name = "operation" id = "r34" value = "asin_r">
        <label for = "r34"> asin </label>
        <input type = "radio" name = "operation" id = "r35" value = "acos_r">
        <label for = "r35"> acos </label>
        <input type = "radio" name = "operation" id = "r36" value = "atan_r">
        <label for = "r36"> atan </label>
        <input type = "radio" name = "operation" id = "r37" value = "acsc_r">
        <label for = "r37"> acosec </label>
        <input type = "radio" name = "operation" id = "r38" value = "asec_r">
        <label for = "r38"> asec </label>
        <input type = "radio" name = "operation" id = "r39" value = "acot_r">
        <label for = "r39"> acot </label>
        <br>
        <p>(Note  :  asin  =  Inverse of sin)</p>
        <br><br>






<! --------------------Hyperbolic Operations-------------------- -->






        <h2 style = "color : #000066; background-color : lightgrey;"> 7. Hyperbolic Functions (In Degree) </h2>
        <br>
        <input type = "radio" name = "operation" id = "r40" value = "sinh_d">
        <label for = "r40"> sinh </label>
        <input type = "radio" name = "operation" id = "r41" value = "cosh_d">
        <label for = "r41"> cosh </label>
        <input type = "radio" name = "operation" id = "r42" value = "tanh_d">
        <label for = "r42"> tanh </label>
        <input type = "radio" name = "operation" id = "r43" value = "csch_d">
        <label for = "r43"> cosech </label>
        <input type = "radio" name = "operation" id = "r44" value = "sech_d">
        <label for = "r44"> sech </label>
        <input type = "radio" name = "operation" id = "r45" value = "coth_d">
        <label for = "r45"> coth </label>
        <br><br>
        <input type = "radio" name = "operation" id = "r46" value = "asinh_d">
        <label for = "r46"> asinh </label>
        <input type = "radio" name = "operation" id = "r47" value = "acosh_d">
        <label for = "r47"> acosh </label>
        <input type = "radio" name = "operation" id = "r48" value = "atanh_d">
        <label for = "r48"> atanh </label>
        <input type = "radio" name = "operation" id = "r49" value = "acsch_d">
        <label for = "r49"> acosech </label>
        <input type = "radio" name = "operation" id = "r50" value = "asech_d">
        <label for = "r50"> asech </label>
        <input type = "radio" name = "operation" id = "r51" value = "acoth_d">
        <label for = "r51"> acoth </label>
        <br>
        <p>(Note  :  asinh  =  Inverse of sinh)</p>
        <br><br>

        <h2 style = "color : #000066; background-color : lightgrey;"> 8. Hyperbolic Functions (In Radians) </h2>
        <br>
        <input type = "radio" name = "operation" id = "r52" value = "sinh_r">
        <label for = "r52"> sinh </label>
        <input type = "radio" name = "operation" id = "r53" value = "cosh_r">
        <label for = "r53"> cosh </label>
        <input type = "radio" name = "operation" id = "r54" value = "tanh_r">
        <label for = "r54"> tanh </label>
        <input type = "radio" name = "operation" id = "r55" value = "csch_r">
        <label for = "r55"> cosech </label>
        <input type = "radio" name = "operation" id = "r56" value = "sech_r">
        <label for = "r56"> sech </label>
        <input type = "radio" name = "operation" id = "r57" value = "coth_r">
        <label for = "r57"> coth </label>
        <br><br>
        <input type = "radio" name = "operation" id = "r58" value = "asinh_r">
        <label for = "r58"> asinh </label>
        <input type = "radio" name = "operation" id = "r59" value = "acosh_r">
        <label for = "r59"> acosh </label>
        <input type = "radio" name = "operation" id = "r60" value = "atanh_r">
        <label for = "r60"> atanh </label>
        <input type = "radio" name = "operation" id = "r61" value = "acsch_r">
        <label for = "r61"> acosech </label>
        <input type = "radio" name = "operation" id = "r62" value = "asech_r">
        <label for = "r62"> asech </label>
        <input type = "radio" name = "operation" id = "r63" value = "acoth_r">
        <label for = "r63"> acoth </label>
        <br>
        <p>(Note  :  asinh  =  Inverse of sinh)</p>
        <br><br>

        <br><br><br>
        <button style = "font-size : 20px; padding : 15px; border: 5px solid #780000; background-color : #990000; color : white;" type = "submit"> <b> CALCULATE </b> </button>
        <br><br>
    </form>



<br>
<h2 style = "text-align : center;"> Result : <span style = "color : olive; font-size : 30px;"> {{result}} </span></h2>
<br><br><br>

</div>

<div id = "footer">
    <p style = "color : white; background-color : olive;"><span style = "margin : 30px"> Shahzada Moon | Copyright 2024 </span></p>
</div>

</body>
</html>